body {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E9EDEE;
}
h1{
    font-size: 2rem;
    font-weight: bold;
}
header {
  background-color: #222f3f;
}
#logo {
  height: 3.5rem;
  margin: 1rem 0 1rem 2rem;
}
#navbar {
  background-color: #364759;
  padding: .6rem 1rem .6rem 2rem;
}
#navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  color: white;
}
#navbar ul li {
}
main{
    margin: 2rem;
}
.bg-orange{
    background-color:#F56600;
    padding: .5rem;
    margin: 2rem 0;
}
.white-text{
    color: white;
}
.centered-text {
  text-align: center;
}
.centered {
  width: fit-content;
  margin: 0 auto;
}
.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adapt-image {
  background-repeat: no-repeat;
  background-size:auto;
  background-position: center;
  background-size: cover;
  
}
.gift-card{
    height: 10vw;
    background-image: url(../img/bg-image.png);
    gap: 1rem;
    
}
.gift-card h1, .gift-card p{
    
}
/* STILI GALLERIA--------------------------------------------------------------------------- */
.gallery {
  background-color: #ffffff;
  padding: 2rem 2rem 1rem 2rem;
  margin: 2rem 0;
  gap: 2rem;
  flex-wrap: wrap;

}
.gallery-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  height: 27vw;
  width: 20vw;
  box-shadow: 10px 4px 10px #DEDCE2;
}
.intestazione-galleria{
  flex-basis: 100%;
  flex-shrink: 0;
}
.intestazione-galleria h2{
  font-size: 1.5rem;
  margin-left: 1rem;
  font-weight: 600;
  display: inline-block;
}
.intestazione-galleria p{
  display: inline-block;
  margin-left: 1.3rem;
}
.intestazione-galleria a{
  font-size: 1.2rem;
  color:#18575E;
  text-decoration: none;
  font-weight: bold;
  
}
/* immagini galleria */
.n1{
    background-image: url(../img/img_1.jpg);
}
.n2{
  background-image: url(../img/img_2.jpg);
}
.n3{
  background-image: url(../img/img_3.jpg);
}
.n4{
  background-image: url(../img/img_4.jpg);
}